// Fonts
$font-path 					: "../fonts/";
$icon-font-path				: $font-path;

$main-font					: "Main";
$main-font-path				: "#{$font-path}gt-walsheim-web";

$oblique-font				: "Oblique";
$oblique-font-path			: "#{$font-path}gt-walsheim-regular-oblique-web";

$serif-font	                : Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;

// Colors
$white						: #FFFFFF;
$soft-black                 : #212121;
$background                 : #ebecee;
$light-grey                 : #d4d2d3;
$highlight                  : #ffe787;

@font-face {
    font-family: $main-font;
    src: url("#{$main-font-path}.eot");
    src: url("#{$main-font-path}.eot?#iefix") format('embedded-opentype'),
         url("#{$main-font-path}.woff") format('woff'),
         url("#{$main-font-path}.ttf") format('truetype'),
         url("#{$main-font-path}.svg#main") format('svg');
}

@font-face {
    font-family: $oblique-font;
    src: url("#{$oblique-font-path}.eot");
    src: url("#{$oblique-font-path}.eot?#iefix") format('embedded-opentype'),
         url("#{$oblique-font-path}.woff") format('woff'),
         url("#{$oblique-font-path}.ttf") format('truetype'),
         url("#{$oblique-font-path}.svg#main") format('svg');
}

body {
	background-color: $background;

	.show {
		display: block;
	}

	header {
		background-color: $soft-black;
		height: 90px;
		text-align: center;
		width: 100%;

		h1 {
			display: inline-block;
			font-family: $main-font;
			color: $white;
			font-size: 28px;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-top: 32px;
		}

		svg {
			display: block;
			position: absolute;
			right: 10.5%;
			height: 36px;
			width: 36px;
			top: 33px;

			#Menu {
		        fill: $white;

		        &:hover {
		        	cursor: pointer;
		        }
			}
		}
	}

	.box-style {
		width: 84%;
		margin: 30px 8%;
        -webkit-box-shadow: 1px 1px 1px 0px rgba(230,230,230,1);
		-moz-box-shadow: 1px 1px 1px 0px rgba(230,230,230,1);
		box-shadow: 1px 1px 1px 0px rgba(230,230,230,1);
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: $white;
	}

	.drop-menu {
		display: none;
		position: absolute;
		top: 120px;
		z-index: 100;
		right: 8%;
		width: 220px;
		height: 200px;
		background-color: $soft-black;
		-moz-border-radius: 3px;
		border-radius: 3px;

		.menu-item {
			color: $white;
			font-family: $serif-font;
			font-size: 16px;
			width: 220px;
            height: 50px;
            padding: 15px 0 0 20px;
           
            &:hover {
            	background-color: $highlight;
            	color: soft-black;
            }
		}
	}

	.arrow {
		    display: none;
			position: absolute;
			top: 110px;
			z-index: 10;
			right: 10.5%;
			background-color: $soft-black;
			width: 25px;
			height: 25px;
			-ms-transform: rotate(45deg); /* IE 9 */
		    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		    transform: rotate(45deg);
		}

	.search {
		display: block;
		height: 90px;

		input {
			display: block;
            text-align: left;
            color: $light-grey;
            font-family: $serif-font;
            font-size: 24px;
            padding: 29px 0 0 40px;
            letter-spacing: 1px;
            border: none;
		}

		input:focus,
			select:focus,
			textarea:focus,
			button:focus {
			outline: none;
        }

		svg {
			display: block;
			position: absolute;
			height: 36px;
			top: 150px;
			right: 7%;

			#Menu {
		        fill: $soft-black;
			}
		}
	}

	.alert-wrapper {

		.alert-types {
			display: block;
		    text-align: center;
		    height: 110px;

            ul { 
            	padding-top: 38px;
            	list-style: none;
            	color: $light-grey;

                .popular {
                	border: solid $light-grey 1px;
                	margin-right: -2px;
                    -moz-border-radius-bottomleft: 5px;
                    border-bottom-left-radius: 5px;
                    -moz-border-radius-topleft: 5px;
                    border-top-left-radius: 5px;
                }
                .your {
                	border-top: solid $light-grey 1px;
                	border-right: solid $light-grey 1px;
                	border-bottom: solid $light-grey 1px;
                	margin-left: -2px;
                	-moz-border-radius-bottomright: 5px;
                    border-bottom-right-radius: 5px;
                    -moz-border-radius-topright: 5px;
                    border-top-right-radius: 5px;
                }
                .active {
                	background-color: #ececec;
                	color: $soft-black;
                }
            }

            ul li { 
            	display: inline; 
            	font-family: $serif-font;
                font-size: 24px;
                margin: 0 0;
                padding: 10px 50px;
            }  
        } 
        .alert {
        	display: inline-block;
        	height: 90px;
        	width: 100%;
        	font-family: $serif-font;
        	background-color: $white;
        	border-top: solid $light-grey 1px;

        	h2 {
        		font-size: 24px;
        		padding: 0 0 0 20px;
        		margin: 29px 0 0 0;
        	}

        	.edit {
                float: right;
                text-align: center;
                padding-top: 12px;
                background-color: $background;
                width: 90px;
                height: 40px;
                -moz-border-radius: 40px;
		        border-radius: 40px;
		        font-family: $main-font;
		        font-size: 16px;
		        text-transform: uppercase;
		        margin-top: -5px;
        	}

        	&:hover {
        		cursor: pointer;
        	}

        	&:hover .edit {
        		cursor: hand;
        		background-color: $highlight;
        	}
        }
	}
}

// Responsive
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    html {
    	border: solid red 1px;
    }

    header {
    	svg {
    		right: -8%;
    	}
    }

    body .alert-wrapper .alert-types ul li { 
        font-size: 18px;
        margin-left: -35px;
        padding: 10px 20px;
	}  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
     html {
    	border: solid green 1px;
    }

    header {
    	svg {
    		right: 4%;
    	}
    }

    body .alert-wrapper .alert-types ul li { 
        font-size: 24px;
        margin: 0 0;
        padding: 10px 50px;
	}  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
     html {
    	border: solid orange 1px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
     html {
    	border: solid blue 1px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
     html {
    	border: solid yellow 1px;
    }

}










